{% extends "base.html" %} {% block body_block %}
<div class="row mt-5">
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: length</small>
    <p>Input: {{context.character_list}}</p>
    <p>Output: {{context.character_list | length}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: addslashes</small>
    <p>Input: I'm noyon</p>
    <p>Output: {{"I'm noyon" | addslashes}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: capfirst </small>
    <p>Input: {{context.word}}</p>
    <p>Output: {{context.word | capfirst }}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: center</small>
    <p>Input: {{context.word}}</p>
    <p>Output: {{context.word | center:"15"}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: cut</small>
    <p>Input: {{context.sentence}}</p>
    <p>Output: {{context.sentence | cut:" " }}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: date</small>
    <p>Input: {{context.date}}</p>
    <p>Output: {{context.date | date:"D d M Y"}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: default</small>
    <p>Input: {{""}}</p>
    <p>Output: {{"" | default:"nothing"}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: dictsort</small>
    <p>Input: {{context.list_of_dict}}</p>
    <p>Output: {{context.list_of_dict | dictsort:"name" }}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: divisibleby</small>
    <p>Input: {{30}}</p>
    <p>Output: {{30 | divisibleby:"3"}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: filesizeformat</small>
    <p>Input: {{context.filesize}}</p>
    <p>Output: {{context.filesize | filesizeformat}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: first</small>
    <p>Input: {{context.character_list}}</p>
    <p>Output: {{context.character_list | first}}</p>
  </div>

  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: join</small>
    <p>Input: {{context.character_list}}</p>
    <p>Output: {{context.character_list | join:" // "}}</p>
  </div>

  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: last </small>
    <p>Input: {{context.character_list}}</p>
    <p>Output: {{context.character_list | last }}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: lower</small>
    <p>Input: {{context.sentence}}</p>
    <p>Output: {{context.sentence | lower}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: make_list</small>
    <p>Input: {{context.word}}</p>
    <p>Output: {{context.word | make_list}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: random</small>
    <p>Input: {{context.character_list}}</p>
    <p>Output: {{context.character_list | random}}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: slice </small>
    <p>Input: {{context.character_list}}</p>
    <p>Output: {{context.character_list | slice:":2" }}</p>
  </div>
  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: slugify </small>
    <p>Input: {{context.sentence}}</p>
    <p>Output: {{context.sentence | slugify }}</p>
  </div>

  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: time </small>
    <p>Input: {{context.time}}</p>
    <p>Output: {{context.time | time:"H:i" }}</p>
  </div>

  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: timesince </small>
    <p>Input: {{context.one_year_previous_date}}</p>
    <p>Output: {{context.one_year_previous_date | timesince:context.date }}</p>
  </div>

  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: wordcount </small>
    <p>Input: {{context.sentence}}</p>
    <p>Output: {{context.sentence | wordcount }}</p>
  </div>

  <div
    class="col col-3 border border-primary w-25 me-3 mb-2 mx-auto h-[30px] mb-4"
  >
    <small>Filter Name: title </small>
    <p>Input: {{context.sentence}}</p>
    <p>Output: {{context.sentence | title }}</p>
  </div>
</div>

{% endblock %}
